/* 
    CSS for the 404 page
*/

.ufo{
    display: block;
    width: 90%;
    margin: 0 15%;
    padding: 0 5%

}

.number4{
    display: inline-block;
    width: 15%;
    margin: 0;
    margin-top: -8%;
}

.main-ufo{
    display: inline-block;
    width: 70%;
    max-height: 500px;
    margin: 0 -14%
    
}

.nofound{
    width: 60%;
    display: block;
    margin: 0 18%;
}

.back-home::before{
    content: url('/assets/img/Home.svg');
}

#grouped-ufo{
    animation-name: rotate-ufo;
    animation-duration: 1.5s;
    
}

#descending-light ,.nofound{
    visibility: hidden;
    animation-name: show-light;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}



@keyframes rotate-ufo {
    from {
        transform: translate(15rem , -20rem) scale(0.5) rotate(-20deg);
        transform-origin: center;
        
    }

    to {
        transform: translate(0 , 0);
        transform-origin: center;
    }
    
}

@keyframes show-light{
    from{
        visibility: hidden;
    }

    to{
        visibility: visible;
    }
}